.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    .logo{
        display: flex;
        align-items: center;
        width: 124px;
        img{
            width: 80px;
        }

        .help-text{
            font-size: 22px;
            padding-left: 4px;
            color: aqua;
        }
    }

    .action-btn{
        display: flex;
        align-items: center;
        .icon-block{
            font-size: 40px;
            padding: 5px;
            color: gray;
        }
    }
}